.chat-area {
    /*   border: 1px solid #ccc; */
      background: white;
      height: 50vh;
      padding: 1em;
      overflow: auto;
      max-width: 550px;
      margin: 0 auto 2em auto;
      box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3)
}
.chat-input {
    width: 100%;
}

.chat-input input {
    width: 80%;
}
.message {
      width: 45%;
      border-radius: 10px;
      padding: .5em;
    /*   margin-bottom: .5em; */
      font-size: .8em;
}
.message-out {
      background: #0079a6;
      color: white;
      margin-left: 50%;
}
.message-in {
      background: #eee9db;
      color: black;
}

#app {
    width: 400px;
    
    border: solid gray;
}